<main>
  <div class="card text-center mt-4" style="width: 22rem;">
    <h2 class="my-3">Crear nuevo contacto</h2>
    <div class="card-body">
      <form action="/" method="post">
        <div class="input-group mb-3">
          <span
            class="input-group-text"
            id="inputGroup-sizing-default"
          >Nombre</span>
          <input
            name="name"
            type="text"
            class="form-control"
            minlength="3"
            maxlength="20"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">#</span>
          <input
            name="number"
            type="text"
            minlength="5"
            maxlength="10"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <button class="btn btn-success">Agregar</button>
      </form>
    </div>
  </div>

</main>

<script>
  document.addEventListener("keypress", (e) => { if (e.keyCode == 13) {
  document.querySelector("form").submit(); } });

</script>