<h2>Edit</h2>
<form action="/edit/{{name._id}}?_method=PUT" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <input
    name="name"
    type="text"
    placeholder="Ingrese el nombre..."
    value="{{name.name}}"
  />
  <button class="edit" type="submit">Edit</button>
</form>