<h1>Hello world</h1>

    <ul>

        {{#each personas}}
            <div>
                <li>{{name}}</li>
                <form action="/edit/{{_id}}" method="GET">
                    <button class="edit" type="submit">Edit</button>
                </form>
                <form action="/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="delete" type="submit">X</button>
                </form>
            </div>
        {{/each}}

    </ul>

    <form action="/" method="post">
        <input name="name" type="text" placeholder="Ingrese un nombre...">
        <button>Agregar</button>
    </form>

    <script>
        document.addEventListener("keypress", (e) => {

            if (e.keyCode == 13) {
                document.querySelector("form").submit();
            }

        });

    </script>