h2 {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > form {
    display: flex;
    flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}