.edit {
    cursor: pointer;
    margin-left: 10px;
    color: #fff;
    background-color: gray;
    border: none;
    padding: 5px 10px;
}

.delete {
    cursor: pointer;
    margin-left: 10px;
    color: #fff;
    background-color: #f00;
    border: none;
    padding: 5px 10px;
}

div {
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}